{% extends "bootstrap/base.html" %}

{% block content %}
    <h1>Nuevo Usuario</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.rut.label }}<br>
            {{ form.rut(size=32) }}
            {% for error in form.rut.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
     
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
            {% for error in form.first_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
            {% for error in form.last_name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cel.label }}<br>
            {{ form.cel(size=32) }}
            {% for error in form.cel.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cel_opt.label }}<br>
            {{ form.cel_opt(size=32) }}
            {% for error in form.cel_opt.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
     
        

       
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}