{% extends 'base.html'%}

{% block content %}

<div class="card">
    <div class="card-header">
      <h1>Rut {{user.rut}}</h1>
    </div>
    <div class="card-body">  
      <h5 class="card-title">Nombres: {{user.first_name}} {{user.last_name}}</h5>
      <h5 class="card-title">Email: {{user.email}}</h5>
      <h5 class="card-title">No.Teléfono: {{user.cel}}</h5>
      {%if user.cel_opt%}
        <h5 class="card-title">Teléfono Alternativo: {{user.cel_opt}}</h5>
      {%endif%}
      <h5 class="card-title">Estado: {{user.is_active}}</h5>

      
      <a href="{{url_for('usuario.usuario_list')}}" class="btn btn-primary">Lista Usuarios</a>
      <a href="{{url_for('usuario.usuario_update', user_id=user.id)}}" class="btn btn-warning">Editar Usuario</a>
      <a href="{{url_for('usuario.usuario_delete', user_id=user.id)}}" class="btn btn-danger">Eliminar Usuario</a>
    </div>
  </div>
  



{% endblock %}